{{< layout}}
{{$content}}
  <div class="text-list">
        {{#videos}}
        <div class="text-box">
          <a href="/day/{{_id}}">Day {{day}} - {{song}} by {{artist}}</a><br />
        </div>
        {{/videos}}
      </div>
{{/content}}
{{/layout}}

