<!DOCTYPE html>
<html>
  <head>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link href="/css/bass-videos.css" rel="stylesheet">
    <title>Bass Videos</title>
  </head>
  <body>
    <div id="example"></div>
    <script async src="/js/react-0.13.1.min.js"></script>
    <script async src="/js/ajax.min.js"></script>
    <script async src="/js/ReactRouter.min.js"></script>
    <script async src="/js/bass-videos.js"></script>
    <script async src="/build/app.js"></script>
  </body>
</html>




