<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <link href="/css/bass-videos.css" rel="stylesheet">
    <script src="/js/react-0.13.1.min.js"></script>
    <script src="/js/JSXTransformer-0.13.1.js"></script>
    <title>Bass Videos</title>
    <link rel="image_src" href="{{videos.0.imageUrl}}" />
    <meta property="og:image" content="http://slooker.us{{videos.0.imageUrl}}" />
    <meta property="og:description" content="Bass Videos" />
    <meta property="og:title" content="{{videos.0.song}} by {{videos.0.artist}}" />
  </head>
  <body>
    <div id="example"></div>
    <script type="text/jsx" src="/build/app.js"></script>
  </body>
</html>



