<html>
  <head>
    <link href="/bass-videos.css" rel="stylesheet">
    <script src="/bass-videos.js"></script>

  </head>
  <body>
<!--
    <h4>Pure HTML5 Video</h4>
    <video id="{{day}}-video" preload controls>
      <source src="{{url}}" />
      <p>To view this video please enable JavaScript, and consider upgrading to a web browser that doesn't suck.</p>
    </video>

    <video id="{{day}}" class="video-js vjs-default-skin vjs-big-play-centered" controls
    preload="none" poster="poster.jpg" data-setup="{}">
      <source src="{{url}}" type='video/mp4'>
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video><br />
-->
    <div id="top">
      <h1>All About That Bass</h1>
      One man's struggle to not suck at the bass.  Still a better love story than twilight.
    </div>
    <div id="container">
      <div id="left-rail">
        <ul>
          <li><a href="/songs">Songs</a></li>
          <li><a href="/days">Days</a></li>
          <li><a href="/artists">Artists</a></li>
        </ul>
      </div>
      <div id="video-list">
